{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
<div class="header">
    <h3>{% trans 'Request a callback' %}</h3>
</div>
{% if not message %}
    <form action="{% url sshop_callback %}"
          method="post" class="form-horizontal modal-form">
        {% csrf_token %}
        {{ form.name|as_bootstrap:"horizontal" }}
        {{ form.phone|as_bootstrap:"horizontal" }}
        {{ form.time_from|as_bootstrap:"horizontal" }}
        {{ form.time_to|as_bootstrap:"horizontal" }}
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="{% trans 'Request a callback' %}" />
        </div>
    </form>
{% else %}
<h3>{{ message }}</h3>
{% endif %}