<ul class="nav">
    {% load mptt_tags %}
        {% for top_category in categories %}
            <li id="cat_{{ top_category.id }}" class="main-category1 {% if request.path == top_category.get_absolute_url  %}active{% endif %} " >
                <a  href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>
                    {% if not top_category.is_leaf_node %}
                    <div id="catalog" class="row-fluid print-hide container">
                        <ul>
                            {% for category in top_category.get_children %}

                            <li class="main-category"><a class="a_category"  href="{% url lfs_category category.slug %}">{{ category.name }}</a>
                                {% if not category.is_leaf_node %}
                                <ul id="sub-nav">
                                    {% for item in category.get_children %}
                                        <li class="category_name"><a href="{% url lfs_category item.slug %}">{{ item.name }}</a></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}

                            </li>


                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                
            </li>
 {% endfor %}
</ul>
