{% load i18n %}
<div class="cart-content">
    <div class="row-fluid">
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
        <div class="span8">     
            <p>{% trans "Cart is empty." %}</p>      
        </div>
        {% else %}  
        <div class="span12">   
        <a  href="{% url lfs_checkout %}">{% trans "Ваш заказ " %}</a>  
             <span>{{ amount|floatformat }}</span>
        </div>  
        {% endif %}
        {% endwith %}
    </div>
</div>
<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
