{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}{% load formdesigner %}{% load vertical_menu_tags %} {% load video_tags %}
{% load seo_data %}
{% load snippets_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    {% snippets 'Head top' %}
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% get_title %}{% endblock %}</title>
    <meta name="keywords" content="{% get_keywords %}" />
    <meta name="description" content="{% get_description %}" />         
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    <script>__locale='{{ LANGUAGE_CODE }}';</script>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/light/light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">  
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">      
        <link type="text/stylus" rel="stylesheet" 
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet" 
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/css/skin/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/gettext.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/ru.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/uk.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>            
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>                         
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" /> 
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" /> 
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>        
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>
        <script  type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/script.custom.coffee"></script>  
        <script type="text/javascript" src="/static/js/jquery.jcarousel.min.js"></script>     
    {% endcompress %}  
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->   
        {% include 'lfs/extra_css.html' %} 
        {% snippets 'Head bottom' %}

</head>
<body class="{% block section %}{% endblock %}">

    {% block header_messages %}
        {% if request.maintenance_messages %}
        <div>
        {% for m in request.maintenance_messages %}
        {% if m.type > 0 %}   
            <div class="alert alert-warning">{{ m.message }}</div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    {% endblock %}

    {% snippets 'Body top' %}
    <div id="seo-text-wrapper">
        {% get_seo_text_new %}
    </div>

    <div id="wrap">
        <div class="header_top">                
            <div class="row-fluid print-hide container">
                    <div class="span2">
                    </div>
                    <div class="span4">
                        <ul class="top_nav">
                            {% include "lfs/link_bar.html" %}
                            <li>
                                <a href="/info/novosti/">Новости</a>
                            </li>
                            <li>
                                <a href="/page/kontakty">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="span3">
                        {% include "lfs/search.html" %}
                    </div>
                    <div class="span3">
                       <a href="/"> <img class="pull-right" src="{{ STATIC_URL }}img/logo1.png" alt=""></a>
                    </div>
            </div>
        </div>
        {#-------------------------------HEADER---------------------------------------------------#}

    <div id="header_block">
    <div  class="row-fluid container">
        <div class="span2">
            <div class="logo">
                <a href="/"><img src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" alt="Logo"></a>
            </div>
        </div>
            {% block header %}
            <div class="span9">                
            </div>
            {% endblock %}
        </div>
        <div class="border">
            <div class="container">
                <span class="pull-left"><img src="{{ STATIC_URL }}img/text.jpg" alt=""></span>
                <span class="pull-right"><img src="{{ STATIC_URL }}img/text.jpg" alt=""></span>
            </div>
        </div>
         <div id="nav" class="row-fluid ">
            <div  class="row-fluid print-hide container">

                        <div class="span12">
                                     {% vertical_menu %}
                        </div>
            </div>

         </div>

    </div>
{#-------------------------------END HEADER---------------------------------------------------#}
    <div class="container"> {# Use class "container-fluid" on the following div for making complete website fluid #}



    <div class="row-fluid print-hide">

    <div id="content">
        <div class="row-fluid">
            {%if not main_page%}
                <div class="span12">
                <div id="breadcrumb">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #}
                </div>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}</div>
                {% endfor %}
            {% endif %}
            
            {% block wrapper %}
                
                
                {# ------------------- MIDDLE container ------------------#}
                <div id="middle-slot-container" > {# Class is set automatically #} 
                <div class="middle-slot">            
                        <div class="row-fluid">
                        {# Div for tab panel #}
          
                        {% if main_page %}
                            <div class="span12">
                                {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}
                                <br>
                            </div>
                        {% endif %}
                        {% block content %}{% endblock %}
                        </div>
                    </div>
                    </div>
                 {# ------------------- END MIDDLE container ------------------#}

                {# ------------------- RIGHT container ------------------#}
                {% block right-slot-wrapper %}
                    {# if SlotRight #}
                        <div id="right-slot-container"> {# Class is set automatically #}
                            <div class="right-slot">
                               
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
                {# ------------------- END RIGHT container ------------------#}

            {% endblock %}

        </div>
    </div>
    </div>
    </div>
    </div>

{#-------------------------------FOOTER---------------------------------------------------#}
    <div id="footer">
        <div class="container">
        <div class="row-fluid">
            {% static_block "footer" %}
        </div>

        <div class="row-fluid print-hide">
            <div class="span12">
                <ul class="unstyled">
                {% block footer %}

                <li class="footer-title">{% actions Footer %}</li>
                
                {% for action in actions %}
                <div class="span1">
                  <a href="{{action.link}}">{{action.title}}</a>
                    {% for child in action.children.all %}
                         <li><a href="{{child.link}}"> {{child.title}}</a></li>
                    {% endfor %}
                </div>
                {% endfor %}
                {% endblock %}
                </ul>

            </div>
        </div>

        <div class="row-fluid print-show">
            <div class="span12">
                Alternate footer for print version
            </div>
        </div>
        </div>
    </div>
{#-------------------------------END FOOTER---------------------------------------------------#}

    {% include "lfs/modal.html" %}
        {% if DEMO_MODE %}
        {% include "demo_tools/zendesk.html" %}
    {% endif %}
    {% snippets 'Body bottom' %} 
    
    {% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span9", "span12");
          config.left_portlet_count++;
          </script>
    {% endblock %}
    {% include 'lfs/extra_js.html' %}
</body>
</html>