{% load i18n lfs_tags %}
{% load vertical_menu_tags %}
{# Link bar #}
    {% actions Link_bar %}
        {% for action in actions %}
            <li><a href="{{ action.link }}">{{ action.title }}</a></li>
        {% endfor %}
