{% extends "lfs/base.html" %}
{% load i18n lfs_tags sshop_tags %}

{% block title %}
    {% trans "Notebook" %}
{% endblock %}

{% block section %}{% endblock %}

{% block head %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="products">
    {% if not products_count %}
        <div class="alert">
            <p>{% trans 'В вашем блокноте нет пока ни одного товара.' %}</p>
        </div>
    {% endif %}
    {% for product in notebook_list %}
    <div class="product-list-item">
        <div class="row-fluid">
            <a href="{% url lfs_notebook_remove_product product.id %}"><i class="icon-remove"></i></a>
            <div class="span2">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>                        
            </div>
            <div class="span12">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
                <div class="product-description">{{ product.get_short_description|safe }}</div>
            </div>
        </div>
        </div>
        {% endfor %}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}

{% endblock %}