{% load i18n lfs_tags sshop_tags %}

{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_200x200 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_200x200 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/200x200.gif" />
                    {% endif %}
                </a>                        
            </div>
            <div class="span8">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
                <div class="product-description">{{ product.get_description|safe|truncatewords:60 }}</div>
            </div>
            <div class="span2">

            </div> 
        </div>
        </div>
        {% endfor %}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
