{% load i18n l10n lfs_tags sshop_tags reviews_tags %}{% load video_tags %}{% load formdesigner %}
        {# {% load share_widget %} #}
<div class="row-fluid">
<div class="span12">

<form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form" method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">
    <div class="span9"><h1 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h1></div>
</div>
<div class="row-fluid product-detail">
    {# Images #}
    <div class="span4">
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_400x400 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
    </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
    </div>
    <div class="span1">
        <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li>
                <a href="{{ image.image.url }}" class="colorbox thumbnail" rel="colorbox"
                title="{{ image.title }}">
        <img src="{{ image.image.url_60x60 }}"
             alt="{{ image.title }}" />
            </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span7" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <div class="row-fluid">
            <div class="span12">
                {# Prices #}
                <div class="prices pull-right">
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %}</span>
                    <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">{% if product.price  > 0 %}{% price product %}{% endif %}</span>
                    </div>
                {% endif %}
                </div> <!-- prices -->
            </div>
            <div class="row-fluid">
                <div class="span12">
                <div class="short-description">
                    <span itemprop="description"> {{ product.get_description|truncatewords:60|safe }}<span>
                </div>
              
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />

{# Configurable Properties #}
{% if product.is_configurable_product %}
{% endif %}

{# Variants #}
{% if product.is_variant %}
<div class="row-fluid">
    <div class="span12">
        <div class="variants">
            <h3 class="section">
                {% trans 'Variants' %}
            </h3>
            {# List #} {% if display_variants_list %}
            <table class="table table-bordered table-striped product-variants lfs-default"
            data="{% url lfs_select_variant %}">
                <tr>
                    <th>
                    </th>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    {% for product_variant in variants|slice:"1" %}
                    {% for property in product_variant.get_variant_properties %}
                    <th>
                        {{ property.title }}
                    </th>
                    {% endfor %}
                    {% endfor %}
                    <th class="number">
                        {% trans 'Price' %}
                    </th>
                </tr>
                {% for product_variant in variants %}
                <tr>
                    <td class="select">
                        <input type="radio" class="variant" name="variant_id"
                        value="{{ product_variant.id }}"
                        {% ifequal product_variant.id product.id %}
                        checked="checked"
                        {% endifequal %} />
                    </td>
                    <td>
                        {{ product_variant.get_name }}
                    </td>
                    {% for property in product_variant.get_variant_properties %}
                    <td>
                        {{ property.value }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div>
                {% for property in properties %}
                <div>
                    <span class="property-label">
                        {{ property.title }}:
                    </span>
                    <select class="property" name="property_{{ property.id }}">
                        {% for option in property.options %}
                        <option value="{{ option.id }}"
                        {% if option.selected %}selected="selected"{% endif %}>
                            {{ option.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="row-fluid">
<div class="span12">

<div id="product-tabs">
<ul>
    {% if product.has_description %}
    <li><a href="{% url lfs_product_description product.slug %}"><span>{% trans "Description" %}</span></a></li>
    {% endif %}
    <li><a href="#properties">{% trans "Технические параметры" %}</a></li>
{% if product.has_accessories %}
    <li><a href="{% url lfs_product_accessories product.slug %}"><span>{% trans "Accessories" %}</span></a></li>
{% endif %}
    <li><a href="#video">{% trans "Видео" %}</a></li>
    
    <li><a href="#form" id="id_callback_me"><span>Перезвоните мне</span></a></li>
</ul>
<div id="properties">
    {{ product.get_short_description|safe}}
</div>
<div id="video">
    {% video_list_not_at_gallery product.id %}
</div>
<div id="form">
<iframe height="400" src="http://forms.7owls.com/forms/obratnaa_svaz/" style="border: none; width: 600px; height: 400px;" width="600"></iframe>
</div>
</div>

</div></div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{# Accessories #} {% if product_accessories %}
<div class="row-fluid">
    <div class="span12">
        <div class="accessories">
            <h3 class="section">
                {% trans 'Accessories' %}
            </h3>
            <table class="table table-striped table-bordered product-accessories lfs-default">
                <tr>
                    <th>
                    </th>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    <th class="number">
                        {% trans 'Quantity' %}
                    </th>
                    <th class="number">
                        {% trans 'Price' %}
                    </th>
                    <th class="number last">
                        {% trans 'Total' %}
                    </th>
                </tr>
                {% for product_accessory in product_accessories %}
                <tr>
                    <td class="checkbox-left">
                        <input type="checkbox" name="accessory-{{ product_accessory.accessory.id }}"
                        />
                    </td>
                    <td>
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                    {{ product_accessory.accessory.get_name|truncatewords_html:5 }}
                </a>
                    </td>
                    <td class="number">
                        <input type="hidden" name="quantity-{{ product_accessory.accessory.id }}"
                        value="{{ product_accessory.quantity }}" />
                        {{ product_accessory.quantity|quantity }}
                    </td>
                    <td class="number" nowrap="nowrap">
                        {% price product_accessory.accessory %}
                    </td>
                    <td class="number" nowrap="nowrap">
                        {% price product_accessory %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>

<script type="text/javascript">
    function notebook_add_product(product_id){
        $.ajax({
            url: "/notebook/add-product/" + product_id + "/",
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url lfs_notebook %}");
            }
        });
    };

    function compare_add_product(product_id) {
        $.ajax({
            url: "/comparison/add-product/" + product_id +"/",
            dataType: "json",
            success: function(msg){
                $("#compare").text("Добавлен к сравнению");
                $("#compare").attr("href", "{% url lfs_comparison %}");
            }
        });
    };
</script>
