{% load i18n %} {% load l10n %} {% load lfs_tags %} {% load reviews_tags %}
<div class="row-fluid">
    <div class="span12">
        <form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
        data="{% url lfs_select_variant_from_properties %}" method="post">
            {% csrf_token %}
            <div class="row-fluid">
                <div class="span9">
                    <h2>
                        {{ product.get_name }}
                    </h2>
                </div>
                <div class="span3">
                    <div class="social-icons pull-right">
                        <a href="#"><img src="{{ STATIC_URL }}img/icon-facebook-like.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="row-fluid product-detail">
                {# Images #}
                <div class="span4">
                    {% if product.get_image %}
                    <a href="{{ product.get_image.image.url_400x400 }}" class="product-detail-lightbox colorbox product-image"
                    rel="colorbox" title="{{ product.get_image.title }}">
                    <img src="{{ product.get_image.image.url_200x200 }}"
                         alt="{{ product.get_image.title }}"
                         class="product-image" />
                </a>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
                    class="product-image" />
                    {% endif %}
                </div>
                <div class="span1">
                    <ul class="thumbnails main-product">
                        {% for image in product.get_sub_images %}
                        <li class="span12">
                            <a href="{{ image.image.url_400x400 }}" class="colorbox thumbnail" rel="colorbox"
                            title="{{ image.title }}">
                    <img src="{{ image.image.url_60x60 }}"
                         alt="{{ image.title }}" />
                </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="span7 well">
                    {% include "lfs/catalog/products/property_list.html" %}
                    <div class="row-fluid">
                        <div class="span8">
                            {% shipping product %} {% average_for_instance product %}
                        </div>
                        <div class="span4">
                            {# Prices #}
                            <div class="prices">
                                {% if for_sale %}
                                <div>
                                    <span class="label label-important price for-sale-standard-price">
                                        <span class="for-sale-standard-price-value">
                                            {{ product|get_standard_price_gross:request|currency:request }}
                                        </span>
                                        * {% if price_unit %}/ {{ price_unit }}{% endif %}
                                    </span>
                                    <span class="label label-important price for-sale-price">
                                        <span class="for-sale-price-value">
                                            {{ product|get_for_sale_price_gross:request|currency:request }}
                                        </span>
                                        * {% if price_unit %}/ {{ price_unit }}{% endif %}
                                    </span>
                                </div>
                                {% if product.get_active_base_price %}
                                <div class="base-price">
                                    {{ product|get_base_price_gross:request|currency:request }} / 
                                    {{ product.get_base_price_unit }}*
                                </div>
                                {% endif %}
                                <div class="price-disclaimer">
                                    {% if price_includes_tax %} {% trans '*inc. VAT' %} {% else %} 
                                    {% trans '*exc. VAT' %} {% endif %}
                                </div>
                                {% else %}
                                <div class="label label-info price standard-price">
                                    <span class="standard-price-value">
                                        {{ product|get_price_gross:request|currency:request }}
                                    </span>
                                    * {% if price_unit %}/ {{ price_unit }}{% endif %}
                                </div>
                                {% if product.get_active_base_price %}
                                <div class="base-price">
                                    {{ product|get_base_price_gross:request|currency:request }} / 
                                    {{ product.get_base_price_unit }}*
                                </div>
                                {% endif %}
                                <div class="price-disclaimer">
                                    {% if price_includes_tax %} {% trans '*inc. VAT' %} {% else %} 
                                    {% trans '*exc. VAT' %} {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row-fluid">
                        {% if product.is_deliverable %}
                        <div class="span8">
                            {% if product.get_active_packing_unit %}
                            <div class="product-quantity packing-unit" id="packing-url" 
                            data="{% url lfs_calculate_packing product.id %}">
                                <input class="number quantity" name="quantity" size="3" type="text" 
                                value="{{ quantity }}" />
                                {{ unit }}
                            </div>
                            {% else %}
                            <div class="product-quantity">
                                <label for="quantity" class="pull-left">
                                    {% if unit %} {{ unit }}: {% else %} {% trans "Quantity" %}: {% endif %}
                                </label>
                                &nbsp;
                                <input class="number input-small" name="quantity" size="3" type="text"
                                value="{{ quantity }}" />
                            </div>
                            {% endif %}
                        </div>
                        <div class="span4">
                            <div class="row-fluid">
                                <button class="btn btn-primary emphasized" type="submit" name="add-to-cart">
                                    <i class="icon-shopping-cart icon-white">
                                    </i>
                                    {% trans 'Add to cart' %}
                                </button>
                            </div>
                        </div>
                        <div class="packing-result">
                            {{ packing_result }}
                        </div>
                        {% else %}
                        <button class="btn btn-primary emphasized" 
                        onclick="window.location='{% url lfs_contact_form %}'; return false"
                        name="">
                            <i class="icon-shopping-cart icon-white">
                            </i>
                            {% trans 'Send request' %}
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <input type="hidden" name="product_id" value="{{ product.id }}" />
            {# Variants #} {% if product.is_variant %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="variants">
                        <h3 class="section">
                            {% trans 'Variants' %}
                        </h3>
                        {# List #} {% if display_variants_list %}
                        <table class="table table-bordered table-striped product-variants lfs-default"
                        data="{% url lfs_select_variant %}">
                            <tr>
                                <th>
                                </th>
                                <th>
                                    {% trans 'Name' %}
                                </th>
                                {% for property in properties %}
                                <th>
                                    {{ property.title }}
                                </th>
                                {% endfor %}
                                <th class="number">
                                    {% trans 'Price' %}
                                </th>
                            </tr>
                            {% for product_variant in variants %}
                            <tr>
                                <td class="select">
                                    <input type="radio" class="variant" name="variant_id" 
                                    value="{{ product_variant.id }}"
                                    {% ifequal product_variant.id product.id %}
                                    checked="checked" 
                                    {% endifequal %} />
                                </td>
                                <td>
                                    {{ product_variant.get_name }}
                                </td>
                                {% for property in product_variant.get_variant_properties %}
                                <td>
                                    {{ property.value }}
                                </td>
                                {% endfor %}
                                <td class="number" nowrap="nowrap">
                                    {% if product_variant.get_for_sale %}
                                    <span class="for-sale-standard-price">
                                        {{ product_variant|get_standard_price:request|currency:request}}
                                    </span>
                                    {{ product_variant|get_for_sale_price:request|currency:request}} {% else %} {{ product_variant|get_price:request|currency:request}} {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <div>
                            {% for property in properties %}
                            <div>
                                <span class="property-label">
                                    {{ property.title }}:
                                </span>
                                <select class="property" name="property_{{ property.id }}">
                                    {% for option in property.options %}
                                    <option value="{{ option.id }}" 
                                    {% if option.selected %}selected="selected"{% endif %}>
                                        {{ option.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}




<div class="row-fluid">
<div class="span12">
<div id="product-tabs">
    <ul>
        <li><a href="#description">{% trans "Description" %}</a></li>        
    </ul>
    <div id="description">
        {{ product.get_description|safe}}
    </div>
</div></div></div>






            <div class="row-fluid">
                <div class="span12">
                    <h3>
                        {% trans "Description" %}
                    </h3>
                    <p class="product-description">
                        {{ product.get_description|safe}}
                    </p>
                </div>
            </div>
            {# Attachments #} {% if attachments %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="attachments">
                        <h3 class="section">
                            {% trans 'Attachments' %}
                        </h3>
                        {% for attachment in attachments %}
                        <div class="item">
                            <div class="title">
                                <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
                        {{ attachment.title}}
                    </a>
                            </div>
                            {% if attachment.description %}
                            <div class="description">
                                {{ attachment.description }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %} {# Accessories #} {% if product_accessories %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="accessories">
                        <h3 class="section">
                            {% trans 'Accessories' %}
                        </h3>
                        <table class="table table-striped table-bordered product-accessories lfs-default">
                            <tr>
                                <th>
                                </th>
                                <th>
                                    {% trans 'Name' %}
                                </th>
                                <th class="number">
                                    {% trans 'Quantity' %}
                                </th>
                                <th class="number">
                                    {% trans 'Price' %}
                                </th>
                                <th class="number last">
                                    {% trans 'Total' %}
                                </th>
                            </tr>
                            {% for product_accessory in product_accessories %}
                            <tr>
                                <td class="checkbox-left">
                                    <input type="checkbox" name="accessory-{{ product_accessory.accessory.id }}"
                                    />
                                </td>
                                <td>
                                    <a href="{{ product_accessory.accessory.get_absolute_url }}">
                                {{ product_accessory.accessory.get_name|truncatewords_html:5 }}
                            </a>
                                </td>
                                <td class="number">
                                    <input type="hidden" name="quantity-{{ product_accessory.accessory.id }}"
                                    value="{{ product_accessory.quantity }}" />
                                    {{ product_accessory.quantity|quantity }}
                                </td>
                                <td class="number" nowrap="nowrap">
                                    {{ product_accessory.accessory|get_price:request|currency:request}}
                                </td>
                                <td class="number" nowrap="nowrap">
                                    {{ product_accessory|get_price:request|currency:request}}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>